{% macro buttons(contato) %}
<form action="/deletar_contato" method="post" style="display:inline;">
    <button class="waves-effect waves-light btn-small red" type="submit">
        <i class="material-icons right">delete</i>Deletar
    </button>
    <input type="hidden" name="email" value="{{contato.email}}">
</form>
<a href="#edit-modal-{{ contato.id }}" class="waves-effect waves-light btn-small blue modal-trigger">
    <i class="material-icons right">edit</i>Editar
</a>

<div id="edit-modal-{{ contato.id }}" class="modal">
    <div class="modal-content">
        <h4>Editar Contato</h4>
        <form action="/editar_contato" method="post">
            <input type="hidden" name="id" value="{{ contato.id }}">
            <div class="input-field">
                <input type="text" id="nome-{{ contato.id }}" name="nome" value="{{ contato.nome }}" required>
                <label for="nome-{{ contato.id }}">Nome</label>
            </div>

            <div class="input-field">
                <input type="text" id="email-{{ contato.id }}" name="email" value="{{ contato.email }}" required>
                <label for="email-{{ contato.id }}">email</label>
            </div>

            <div class="input-field">
                <input type="text" id="celular{{ contato.id }}" name="celular" value="{{ contato.celular }}" required>
                <label for="celular-{{ contato.id }}">celular</label>
            </div>

            <div class="input-field">
                <input type="text" id="celular_alt-{{ contato.id }}" name="celular_alt" value="{{ contato.celular_alt }}">
                <label for="celular_alt-{{ contato.id }}">celular alternativo</label>
            </div>

            <div class="input-field">
                <input type="text" id="tags-{{ contato.id }}" name="tags" value="{{ contato.tags }}" required>
                <label for="tags-{{ contato.id }}">tags</label>
            </div>

            <button type="submit" class="waves-effect waves-light btn">Salvar</button>
        </form>
    </div>

</div>
{% endmacro %}