{% extends 'base.html' %}

{% block content %}
    <h4>Registrar</h4>
    <form action="/register" method="post">
        <div class="input-field">
            <input type="text" id="username" name="username" required>
            <label for="username">Username</label>
        </div>
        <div class="input-field">
            <input type="password" id="password" name="password" required>
            <label for="password">Password</label>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Registrar</button>
    </form>

{% endblock %}